{
  appId: 'foo',
  appSecret: 'bar',
  bucket: 'foob',
  uphost: 'http://my.up.v[0-9]+.wcsapi.com',
  videoDownloadEndpoint: 'http://video.somewhere.com',
  imageDownloadEndpoint: 'http://video.somewhere.com'
}
